$primary-nav: #232323;
$nav-height: 70px;
$primary-a: #ffffff;
$hover-background: #C5C5C5;
$body-background: rgb(255, 255, 255);
$blue-1: #3EABCD;
$header-font: 'Oswald', sans-serif;
$body-font: 'Lato', sans-serif;
$blue-2: #5ac4ed;

.navbar-container a.home-link {
    background-color: $primary-nav;
    color: $primary-a;
}

.navbar-container a.home-link:hover {
    background-color: $blue-1;
    // color: $primary-a;
}

.navbar-container a.about-link {
    background-color: $hover-background;
    color: $primary-nav;
}

.resume-btn-container {
    padding-left: 16px;
    padding-bottom: 16px;
}

.resume-btn-container a {
    text-decoration: none;
}

.resume-btn {
    position: relative;
    width: 298px;
    height: 57px;
    border: 1px solid $primary-nav;
    border-radius: 5px;
    background-color: $primary-a;
    font-size: 16px;
}

.resume-btn:hover {
    border: 1px solid $blue-1;
    background-color: $blue-1;
    color: $primary-a;
    font-weight: 800;
}

.resume-btn i {
    padding-right: 10px;
    font-size: 20px;
}

#tech-grid-container {
    padding-bottom: 32px;
    padding-left: 16px;
    padding-right: 16px;
}

#tech-grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    // padding: 5px;
    grid-column-gap: 16px;
    grid-row-gap: 8px;
}

.grid-item {
    // border: 1px solid red;
    // padding: 2px;
}

.grid-img {
    position: relative;
    width: 40px;
    height: 40px;
}