$primary-nav: #232323;
$nav-height: 70px;
$primary-a: #ffffff;
$hover-background: #C5C5C5;
$body-background: rgb(255, 255, 255);
$blue-1: #3EABCD;
$header-font: 'Oswald', sans-serif;
$body-font: 'Lato', sans-serif;
$blue-2: #5ac4ed;

body {
    background-color: rgba(252, 252, 252, 0.90);
}

.page-container {
    max-width: 375px;
    margin: 50px auto;
    max-height: 812px;
    background-color: $body-background;
    // border: 0.0075px solid rgb(255, 255, 255, 0.99);
    font-family: $body-font;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.navbar-container {
    position: relative;
    overflow: hidden;
    background-color: $primary-nav;
}

#page-links {
    display: none;
    transition: 200ms ease;
}

.navbar-container a {
    display: block;
    text-decoration: none;
    color: $primary-a;
    font-size: 17px;
    padding: 14px 16px;
}

.navbar-container a.nav-icon {
    position: absolute;
    display: block;
    right: 0;
    top: 0;
    background: $primary-nav;
}

.navbar-container a:hover {
    background-color: $blue-1;
    color: $primary-a;
}

.navbar-container a.home-link {
    background-color: $hover-background;
    color: $primary-nav;
}

.nav-spacer {
    padding-left: 10px;
}

// .navbar-container > .home-link {
//     background-color: $body-background;
//     color: $primary-nav;
// }

.header-container {
    padding-left: 16px;
    padding-right: 16px;
}

.header-container h1 {
    font-family: $header-font;
    font-weight: 400;
    font-size: 60px;
    line-height: 68.22px;
    letter-spacing: 2.5%;
    text-align: center;
}

.header-container p {
    font-family: $body-font;
    font-weight: 400;
    font-size: 16px;
    line-height: 20.19px;
    letter-spacing: 2.5%;
    text-align: center;
}

.main-container {
    // height: 317px;
}

.avatar-container {
    padding-top: 30px;
    padding-left: 16px;
    padding-bottom: 16px;
}

.main-container .avatar-container a {
    text-decoration: none;
    outline: none;
    border: none;
}

.avatar-container img {
    border: none;
}

.avatar-container img:hover {
    border: 1px solid $primary-nav;
    transition: 0.33s ease-in-out;
    border-radius: 50%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.avatar {
    height: 149px;
    width: 149px;
}


#speech-bubble {
    width: 180px; 
    height: 60px; 
    background: $primary-nav;
    // position: absolute;
    left:100px;
    // -moz-border-radius: 10px; 
    // -webkit-border-radius: 10px; 
    // border-radius: 10px;
    margin-bottom: 24px;
    display: none;
    transition-duration: 200ms ease;
}

#speech-bubble:before {
    content:"";
    // position: absolute;
    width: 0;
    height: 0;
    border-top: 13px solid transparent;
    border-right: 26px solid $primary-nav;
    border-bottom: 13px solid transparent;
    margin: 13px 0 0 0px;
}

#speech-bubble p {
    position: relative;
    margin-top: 0;
    padding-left: 12px;
    color: $primary-a;
}

.footer-container {
    position: sticky;
    background-color: $blue-1;
    // width: 100%;
    // left: 0;
    height: 200px;
    padding: 16px;
    
}

.icons-container {
    position: absolute;
    right: 0;
    padding-right: 24px;
    padding-top: 24px;
    color: $primary-a;
}

.i-icons {
    font-size: 40px;
    // color: $primary-a;
}

.i-icons a {
    color: $primary-a;
}

.i-icons:hover {
    font-size: 32px;
    padding: 0 0 0 4px;
    color: rgb(255, 255, 255, 0.85);
}

.attribution {
    display: inline;
    font-size: 12px;
    color: $primary-a;
}

.copyright-symbol {
    margin-right: 2px;
}

.copyright-msg {
    bottom: 0;
    position: absolute;
    color: $primary-a;
    padding-bottom: 16px;
    font-size: 12px;
}
