$primary-nav: #232323;
$nav-height: 70px;
$primary-a: #ffffff;
$hover-background: #C5C5C5;
$body-background: rgb(255, 255, 255);
$blue-1: #3EABCD;
$header-font: 'Oswald', sans-serif;
$body-font: 'Lato', sans-serif;
$blue-2: #5ac4ed;

.navbar-container a.home-link {
    background-color: $primary-nav;
    color: $primary-a;
}

.navbar-container a.home-link:hover {
    background-color: $blue-1;
    // color: $primary-a;
}

.navbar-container a.work-link {
    background-color: $hover-background;
    color: $primary-nav;
}

.work-container {
    display: flex;
    width: 250px;
    // margin-left: 16px;
    // margin-right: 16px;
    border: 1px solid green;
    justify-content: space-between;
}

.fa-chevron-circle-left {
    font-size: 32px;
    // margin-right: 64px;
    // border: 1px solid red;
    // justify-content: space-between;
}

.work-container .work-card {
    // margin: 0 16px 0 16px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    // width: 60%;
    width: 160px;
    height: 190px;
    // margin-left: 20px;
    // margin-right: 20px;
    // flex-grow: 2;
    text-align: center;
    // border: 1px solid purple;
    // justify-content: space-between;
    margin-bottom: 32px;
    border-radius: 5px 5px 0 0;
}

.fa-chevron-circle-right {
    font-size: 32px;
    // margin-left: 64px;
    // border: 1px solid blue;
    // justify-content: space-between;
}

.fa-chevron-circle-left:hover, .fa-chevron-circle-right:hover {
    color: $blue-1;
}



.work-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
}